##ak

In [158]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

### 1번 데이터프레임 처리과정 (구별 인구데이터)

In [159]:
# 서울시 구별 주민등록정보 데이터를 s로 이름
s = pd.read_csv('서울시주민등록인구(구별)통계.txt', skiprows=2, sep='\t')
s.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2021.2/4,합계,"4,405,638","9,795,426","4,756,178","5,039,248","9,565,990","4,649,442","4,916,548","229,436","106,736","122,700",2.17,"1,576,971"
1,2021.2/4,종로구,"73,525","155,106","75,009","80,097","146,029","70,985","75,044","9,077","4,024","5,053",1.99,"27,605"
2,2021.2/4,중구,"62,897","132,259","64,526","67,733","123,016","60,019","62,997","9,243","4,507","4,736",1.96,"23,980"
3,2021.2/4,용산구,"111,650","240,665","116,858","123,807","226,378","108,948","117,430","14,287","7,910","6,377",2.03,"38,884"
4,2021.2/4,성동구,"134,542","295,767","143,927","151,840","289,162","141,042","148,120","6,605","2,885","3,720",2.15,"45,591"

In [160]:
# 1번데이터 전처리    #컬럼별 결측값 없음을 확인할 수 있다.
# s.isna().sum()      #컬럼별 결측값.
s.isna().sum().sum()  #전체 결측값. 확인차.
# s.info()  #인구 값들이 문자열이라 int 변환및   1000단위의  컴마 , 제거할것.

0

In [161]:
s.columns

Index(['기간', '자치구', '세대', '계', '남자', '여자', '계.1', '남자.1', '여자.1', '계.2',
       '남자.2', '여자.2', '세대당인구', '65세이상고령자'],
      dtype='object')

In [162]:
s = s[['자치구', '계', '계.2', '65세이상고령자']]   # 컬럼추출
# s.head(3)

In [163]:
s.columns = ['구별', '인구수', '외국인', '고령자']    # 컬럼이름 변경
# s.head(3)

In [164]:
# , 없애기 및 정수변환 / 주의할점은 s.columns[1:] 의미.
for column in s.columns[1:]:
    s[column] = s[column].apply(lambda x : int(x.replace(',','')))
# s.info()  #정수로 잘 변경됨 확인

In [165]:
# 외국인비율(%) 및 고령자비율(%) 추가
# 값 자릿수 고려. 소숫점이하 2자리까지. 
s['외국인비율(%)'] = np.round((s.외국인 / s.인구수) * 100, 2)
s['고령자비율(%)'] = np.round((s.고령자 / s.인구수) * 100, 2)
# 이거 한번에 되나? #둘이 결합하는 방법
# s.head(3)

In [166]:
s.drop(columns= ['외국인','고령자'],inplace=True)
s.head(3)

    구별      인구수  외국인비율(%)  고령자비율(%)
0   합계  9795426      2.34     16.10
1  종로구   155106      5.85     17.80
2   중구   132259      6.99     18.13

### 2번 데이터프레임 처리과정 (구별 cctv 데이터)

In [167]:
# 데이터 불러오기 및 전처리
# 세퍼레이션은 컴마, 로 되어있음
# 외계어 나와서 인코딩 'euc-kr' 적용
c = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', sep=',', encoding='euc-kr', skiprows=1)
c.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289

- null data 추적
- 천단위 구분기호 , 제거 및 정수변경
- 필요컬럼 추리기 이름변경 드랍 등

In [168]:
# c.isnull()
c.isna().sum().sum()
# 결측치 없다. info는 생략.

0

In [169]:
for column in c.columns[1:]:
    c[column] = c[column].apply(lambda x : int(x.replace(',','')))
c.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [170]:
c.columns

Index(['구분', '총계', '2012년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년', '2019년', '2020년', '2021년'],
      dtype='object')

In [171]:
# 최근증가율 컬럼 추가. 다만 %라고 생각하기엔 애매해서 '최근증가율'로 마무리 
c['최근증가율'] = ((( c['2018년'] + c['2019년'] + c['2020년'] ) / (
                                 c['2012년 이전'] + c['2013년'] + c['2014년'] + c['2015년'] + c['2016년'] +c['2017년'] ))*100).round(2)
# c.head()

In [172]:
c = c[['구분', '총계', '최근증가율']]
c.head()

    구분     총계  최근증가율
0    계  77032  81.90
1  종로구   1772  20.49
2  중 구   2333  87.74
3  용산구   2383  83.06
4  성동구   3602  48.65

In [173]:
# df.rename(columns={'Before':'After'}) # 열 선택하여 바꿀때 
# df.columns = ['col', 'col', 'col']    # 전체컬럼이름 바꿀때는 요게 편하다
c.columns = ['구별', 'CCTV댓수', '최근증가율']
c.head(3)

    구별  CCTV댓수  최근증가율
0    계   77032  81.90
1  종로구    1772  20.49
2  중 구    2333  87.74

In [174]:
# 구이름 공백지우기 # 중구 데이터 하나만 '중 구'로 띄어쓰기 되어있어서 처리 필요
c['구별'] = c.구별.apply(lambda x: x.replace(' ',""))
c.head()

    구별  CCTV댓수  최근증가율
0    계   77032  81.90
1  종로구    1772  20.49
2   중구    2333  87.74
3  용산구    2383  83.06
4  성동구    3602  48.65

In [178]:
# c.drop([0], axis=0, inplace=True) # 첫번째 행 계 부분 드랍
# c.head()

    구별  CCTV댓수   최근증가율
1  종로구    1772   20.49
2   중구    2333   87.74
3  용산구    2383   83.06
4  성동구    3602   48.65
5  광진구    2588  117.87

### 3. 공통 컬럼 및 인덱싱 확인 merge 이용해 붙이기
 - cctv 데이터인 c에 서울시 인구데이터 s 를 붙일것 : 주요데이터가 CCTV댓수

In [176]:
cctv = pd.merge(c, s)

In [177]:
# 교재 63p처럼 '구별'컬럼 인덱스로 만들기
cctv.set_index('구별')
cctv

      CCTV댓수   최근증가율     인구수  외국인비율(%)  고령자비율(%)
구별
종로구     1772   20.49  155106      5.85     17.80
중구      2333   87.74  132259      6.99     18.13
용산구     2383   83.06  240665      5.94     16.16
성동구     3602   48.65  295767      2.23     15.41
광진구     2588  117.87  355306      3.61     14.30
동대문구    2497   37.91  352259      4.04     17.39
중랑구     3296  195.21  394679      1.19     17.78
성북구     3958   98.49  443206      2.15     16.60
강북구     2462  446.95  306093      1.13     20.71
도봉구     1629   85.47  322419      0.64     19.51
노원구     2415   71.36  520005      0.77     16.67
은평구     3791  118.07  479409      0.84     17.92
서대문구    2940   57.17  317699      3.35     16.88
마포구     2421   97.10  379984      2.59     14.18
양천구     3312   30.71  454288      0.73     14.74
강서구     2560   86.73  582995      0.94     15.51
구로구     4075   53.01  424582      5.96     16.77
금천구     2374  149.47  244685      5.93     16.42
영등포구    3778  113.82  402375      6.20     15.30
동작구     2297   85.26  397231      2.36     16.55
관악구     4942   53.24  502698      2.76     15.64
서초구     3704   49.83  422174      0.89     14.31
강남구     6502   62.84  536107      0.88     14.21
송파구     2854  217.83  664341      0.85     14.32
강동구     2547  114.83  469094      0.83     15.41

In [2]:
import numpy as np
import pandas as pd

In [4]:
# cctv data 
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', skiprows=1, encoding='euc-kr'
)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [ ]:
# 결측치 확인 결과는 0

In [10]:
# 1000단위 구분기호 없애기
# cctv.columns
for column  in cctv.columns[1:]:
    cctv[column] = cctv[column].apply(lambda x : int(x.replace(',','')))
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [15]:
# 최근 증가율 
cctv['최근3개년'] = cctv['2018년'] + cctv['2019년'] + ['2020년']
cctv['2017년이전'] = cctv.총계 - cctv['최근3개년'] - cctv['2021년']
cctv['최근증가율'] = (cctv['최근3개년'] / cctv['2017년이전'] * 100).round(2)
cctv.head()

TypeError: Cannot broadcast np.ndarray with operand of type <class 'list'>

In [17]:
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [20]:
cctv['최근증가율2'] = (cctv.iloc[:,9:12].sum(axis=1)/cctv.iloc[:,2:9].sum(axis=1)*100).round(2)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율2
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608,77.66
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,20.49
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,78.98
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0,78.64
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76,46.13

In [22]:
# 셀렉션 필요한 컬럼 추출
cctv = cctv[['구분', '총계', '최근증가율2']]
# cctv

      구분     총계  최근증가율2
0      계  77032   77.66
1    종로구   1772   20.49
2    중 구   2333   78.98
3    용산구   2383   78.64
4    성동구   3602   46.13
5    광진구   2588  112.29
6   동대문구   2497   34.85
7    중랑구   3296  191.07
8    성북구   3958   94.53
9    강북구   2462  446.95
10   도봉구   1629   82.82
11   노원구   2415   66.38
12   은평구   3791  117.86
13  서대문구   2940   49.80
14   마포구   2421   89.95
15   양천구   3312   28.72
16   강서구   2560   78.53
17   구로구   4075   48.83
18   금천구   2374  149.47
19  영등포구   3778  105.39
20   동작구   2297   83.61
21   관악구   4942   49.91
22   서초구   3704   48.34
23   강남구   6502   61.64
24   송파구   2854  203.19
25   강동구   2547  112.25

In [23]:
# 컬럼병 변경 구분 을 구별 총계를 ㅊㅊㅅㅍ 댓수. 최근증가율2 를 최근증가율로 
cctv.rename(columns={'구분':'구별', '총계' : 'CCTV댓수', '최근증가율2' : '최근증가율'}, inplace=True)
cctv.head()

    구별  CCTV댓수  최근증가율
0    계   77032  77.66
1  종로구    1772  20.49
2  중 구    2333  78.98
3  용산구    2383  78.64
4  성동구    3602  46.13

In [24]:
# 첫번째 행(계) 삭제
cctv.drop([0], inplace=True)
cctv.head()

    구별  CCTV댓수   최근증가율
1  종로구    1772   20.49
2  중 구    2333   78.98
3  용산구    2383   78.64
4  성동구    3602   46.13
5  광진구    2588  112.29

In [34]:
# 구이름에서 공백 지우기 #오오 str?이뭐닝.
cctv.구별 = cctv.구별.str.replace(' ','')
cctv.head()

    구별  CCTV댓수   최근증가율
1  종로구    1772   20.49
2   중구    2333   78.98
3  용산구    2383   78.64
4  성동구    3602   46.13
5  광진구    2588  112.29

In [35]:
# cctv 댓수가 많은 자치구 5 # 데이터 프레임에서 소팅

cctv.sort_values('CCTV댓수', ascending=False).head()

     구별  CCTV댓수   최근증가율
23  강남구    6502   61.64
21  관악구    4942   49.91
17  구로구    4075   48.83
8   성북구    3958   94.53
12  은평구    3791  117.86

# 2. 서울시 인구 데이터

In [43]:
pop = pd.read_csv('서울시주민등록인구(구별)통계.txt', sep='\t', skiprows=2 )
# pop

In [44]:
pop.isna().sum().sum()

0

In [45]:
# 필요한 컬럼 추출 및 이름 변경
pop = pop[['자치구', '계','계.2', '65세이상고령자']]
pop.columns = ['구별', '인구수', '외국인', '고령자']
pop.head(3)

    구별        인구수      외국인        고령자
0   합계  9,795,426  229,436  1,576,971
1  종로구    155,106    9,077     27,605
2   중구    132,259    9,243     23,980

In [46]:
# 천단위 구분기호 없애기
for column in pop.columns[1:]:
    pop[column] = pop[column].str.replace(',','').astype(int)
pop.head(3)

    구별      인구수     외국인      고령자
0   합계  9795426  229436  1576971
1  종로구   155106    9077    27605
2   중구   132259    9243    23980

In [ ]:
# 첫번째 행 지우기 
pop.drop([0], inplace=True)

In [47]:
# 외국인비율, 고령자비율 컬럼 만들기
pop['외국인비율'] = (pop.외국인 / pop.인구수 * 100).round(2)
pop['고령자비율'] = (pop.고령자 / pop.인구수 * 100).round(2)

In [48]:
pop

      구별      인구수     외국인      고령자  외국인비율  고령자비율
0     합계  9795426  229436  1576971   2.34  16.10
1    종로구   155106    9077    27605   5.85  17.80
2     중구   132259    9243    23980   6.99  18.13
3    용산구   240665   14287    38884   5.94  16.16
4    성동구   295767    6605    45591   2.23  15.41
5    광진구   355306   12825    50815   3.61  14.30
6   동대문구   352259   14219    61262   4.04  17.39
7    중랑구   394679    4707    70172   1.19  17.78
8    성북구   443206    9548    73568   2.15  16.60
9    강북구   306093    3448    63383   1.13  20.71
10   도봉구   322419    2054    62894   0.64  19.51
11   노원구   520005    4008    86697   0.77  16.67
12   은평구   479409    4038    85921   0.84  17.92
13  서대문구   317699   10629    53627   3.35  16.88
14   마포구   379984    9852    53891   2.59  14.18
15   양천구   454288    3296    66942   0.73  14.74
16   강서구   582995    5476    90404   0.94  15.51
17   구로구   424582   25316    71186   5.96  16.77
18   금천구   244685   14517    40181   5.93  16.42
19  영등포구   402375   24954    61571   6.20  15.30
20   동작구   397231    9384    65732   2.36  16.55
21   관악구   502698   13898    78647   2.76  15.64
22   서초구   422174    3767    60395   0.89  14.31
23   강남구   536107    4732    76184   0.88  14.21
24   송파구   664341    5671    95164   0.85  14.32
25   강동구   469094    3885    72275   0.83  15.41

# 3. 두개의 데이터 프레임 합치기

In [50]:
df = pd.merge(cctv, pop)
df

      구별  CCTV댓수   최근증가율     인구수    외국인    고령자  외국인비율  고령자비율
0    종로구    1772   20.49  155106   9077  27605   5.85  17.80
1     중구    2333   78.98  132259   9243  23980   6.99  18.13
2    용산구    2383   78.64  240665  14287  38884   5.94  16.16
3    성동구    3602   46.13  295767   6605  45591   2.23  15.41
4    광진구    2588  112.29  355306  12825  50815   3.61  14.30
5   동대문구    2497   34.85  352259  14219  61262   4.04  17.39
6    중랑구    3296  191.07  394679   4707  70172   1.19  17.78
7    성북구    3958   94.53  443206   9548  73568   2.15  16.60
8    강북구    2462  446.95  306093   3448  63383   1.13  20.71
9    도봉구    1629   82.82  322419   2054  62894   0.64  19.51
10   노원구    2415   66.38  520005   4008  86697   0.77  16.67
11   은평구    3791  117.86  479409   4038  85921   0.84  17.92
12  서대문구    2940   49.80  317699  10629  53627   3.35  16.88
13   마포구    2421   89.95  379984   9852  53891   2.59  14.18
14   양천구    3312   28.72  454288   3296  66942   0.73  14.74
15   강서구    2560   78.53  582995   5476  90404   0.94  15.51
16   구로구    4075   48.83  424582  25316  71186   5.96  16.77
17   금천구    2374  149.47  244685  14517  40181   5.93  16.42
18  영등포구    3778  105.39  402375  24954  61571   6.20  15.30
19   동작구    2297   83.61  397231   9384  65732   2.36  16.55
20   관악구    4942   49.91  502698  13898  78647   2.76  15.64
21   서초구    3704   48.34  422174   3767  60395   0.89  14.31
22   강남구    6502   61.64  536107   4732  76184   0.88  14.21
23   송파구    2854  203.19  664341   5671  95164   0.85  14.32
24   강동구    2547  112.25  469094   3885  72275   0.83  15.41

In [51]:
df.set_index('구별', inplace= True)
df.head(3)

     CCTV댓수  최근증가율     인구수    외국인    고령자  외국인비율  고령자비율
구별
종로구    1772  20.49  155106   9077  27605   5.85  17.80
중구     2333  78.98  132259   9243  23980   6.99  18.13
용산구    2383  78.64  240665  14287  38884   5.94  16.16

In [52]:
df.to_csv('서울시_CCTV_인구_병합데이터.csv')

* 참고사항 메서드 오버라이딩 
*  Method overriding

In [25]:
print(1,2,3,4,5,6,7,8,9, sep=', ')
# 앞 부분을 포지셔털 아규먼트 위치인수 / 뒤를 키워드형 아규먼트

1, 2, 3, 4, 5, 6, 7, 8, 9

In [28]:
def func(name, age, addr='양평역'):
    print(name, age, addr)

In [27]:
func('마리아', 25, '서울시 영등포구 양평동')

마리아 25 서울시 영등포구 양평동

In [29]:
func('마리아', 25)
# 위치인수와 키워드 인수도 가변적으로 쓸 수 있어. 프린트 처럼 아규먼트 여러개 쓰는것 가능. 가변인수 파이썬에서 허용

마리아 25 양평역

In [ ]:
# 객체지향에서의 다형성 polymorphisim(다형성) : overiding, overloading 

# 파이썬은 가변인수를 처리해주는 로직이 있기에 오버로딩이 필요 없어.

In [30]:
# overloading 설명. 앞으로 나올 것 상속

In [31]:
from sklearn.base import BaseEstimator

class MyClassifier(BaseEstimator):
    def fit(self, X, y):
        pass
    def predict(self, X):
        return 0
    def score(self, X, y):
        pass

In [ ]:
def func1(a,b):
    """이곳은 함수에 대한 설명을 적는 부분입니다.'
    인수 a는 어쩌구 저쩌구, b는 이렇고 저렇고 
    키워드 인수는 포지셔널 인수 뒤쪽에 나와야해 
    
    """
    pass

In [ ]:
# 키워드 인수가 위치 인수보다 앞에 
func1(b=2, a=1)