판다스 연습문제 3
Mile per Gallon - sn

In [2]:
import numpy as np
import pandas as pd

In [3]:
import seaborn as sns

In [4]:
mpg = sns.load_dataset('mpg')
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [5]:
mpg.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

 ### a. 배기량(displacement) 대비 마력 (horsepower) 열을 hp_per_cc 로 추가
 
 일단 어떤 결과를 도출할 수 있을지 모르니 값 정리 없이 간다.

In [6]:
# a. 배기량(displacement) 대비 마력 (horsepower) 열을 hp_per_cc 로 추가
# 일단 어떤 결과를 도출할 수 있을지 모르니 값 정리 없이 간다.
mpg['hp_per_cc'] = (mpg.displacement / mpg.horsepower)
mpg

# pop['외국인비율'] = (pop.외국인 / pop.인구수 * 100).round(2)
# pop['고령자비율'] = (pop.고령자 / pop.인구수 * 100).round(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,2.361538
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,2.121212
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,2.120000
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,2.026667
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,2.157143
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,1.627907
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,1.865385
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,1.607143
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,1.518987
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,1.451220

In [ ]:
model = name.split()[1:]
model

['chevelle', 'malibu']

In [ ]:
name2 = 'ford torino'
name2.split()[1:]

['torino']

In [ ]:
# name1,2에 다 테스트 둘다 만족. for 문으로 구성 할 수 있을까? 
' '.join(name.split()[1:])
' '.join(name2.split()[1:])

'chevelle malibu'

In [ ]:
mpg.index
# np.arange(0, 399)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
# b name으로부터 manufacturer(제조사)와 모델을 추출하여
# 새로운 열 manufacturer와 model을 추가하고, name 열은 삭제

# 제조사를 brand로, 차 이름은 model로
print(mpg.name[2])

plymouth satellite

In [ ]:
# mpg.name[0] # 결과는 시리즈. # 인덱스를 순회하면서
# 무조건 for 로 구상하기 보다는 개략적인 함수를 생각 후 어플라이로 적용하는 것이 적절하겠다.

mpg.name.apply(lambda x : mpg.name.split()[x:])



# ' '.join(name.split()[1:])
# ' '.join(name2.split()[1:])

# name2 = 'ford torino'
# name2.split()[1:]


# for i in np.arange(0, 398) :
#     (mpg.name[i])

AttributeError: 'Series' object has no attribute 'split'

# 숨기기

In [7]:
# mpg

In [8]:
mpg.index

RangeIndex(start=0, stop=398, step=1)

In [9]:
# a = mpg.name.values

brand = []
for i in mpg.index : 
    mpg.name.values[i]
    brand = append

NameError: name 'append' is not defined

In [39]:
p = mpg.name.values[0].split(" ")[1:]
p

['chevelle', 'malibu']

In [42]:
mpg.name.values[0].split(" ")[:]

['chevrolet', 'chevelle', 'malibu']

In [27]:
p.strip()

AttributeError: 'list' object has no attribute 'strip'

In [ ]:
items =

In [ ]:
brand_list = []
fullName = ""
for i in mpg.index:
    items = mpg.name.values[i].split(" ")[1:]
    # print(type(items))
    for j in items :
        print(j)
        if(j!=0) :
        fullName = fullName + " "+ j
        # brand_list.append(j)
    # print(brand_list[i])
    brand_list.append(fullName)

brand_list[0]

In [90]:
# mpg.name.to_list()

In [105]:
items = mpg['name'].loc[:]
items.index

RangeIndex(start=0, stop=398, step=1)

In [111]:
items[1].strip(" ")

'buick skylark 320'

In [101]:
brand_list = []
for i in items.index:
    data = items[i]
    
    print(items)
    # print(items)
    # for j in items :
    #     print(j)
    #     if(j!=0) :
    #     fullName = fullName + " "+ j
    #     # brand_list.append(j)
    # print(brand_list[i])
    brand_list.append(items)

brand_list

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object

[0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object,
 0      chevrolet chevelle malibu
 1              buick skylark 320
 2             plymouth satellite
 3                  amc rebel sst
 4                    ford torino
                  ...
 393              ford mustang gl
 394                    vw pickup
 395                dodge rampage
 396                  ford ranger
 397                   chevy s-10
 Name: name, Length: 398, dtype: object]

In [84]:
mpg['name'].loc[:]

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object

In [81]:
type(mpg['name'].loc[1])

str

In [73]:
m = mpg.name.values[0].split(" ")[1:]
# m[:]
m.values()

AttributeError: 'list' object has no attribute 'values'

In [112]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,2.361538
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,2.121212
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,2.120000
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,2.026667
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,2.157143
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,1.627907
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,1.865385
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,1.607143
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,1.518987
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,1.451220

In [139]:
a = mpg.name.str.split()
a[0][1:]

['chevelle', 'malibu']

In [140]:
# 첫 번째 row brand 쉐보레
a[0][0]

'chevrolet'

In [ ]:
# 첫 번째 row car 쉐보레

In [122]:
b[0]

'c'

In [ ]:
df2.c1.str.strip()